<link rel="stylesheet" type="text/css" href="/css/home.css">
<form id="new-task-form" action="/create-task" method="post">
    <div id="description-container">
        <label for="description">
            DESCRIPTION
        </label>
        <input type="text" name="taskName" id="description" placeholder="What task do you want to perform/add" required>
        </input>
    </div>
    <div id="category-container">
        <label for="category">
            Choose a category
        </label>
        <select name="taskCategory" id="category">
            <option value="">Choose a Category</option>
            <option value="Personal">Personal</option>
            <option value="Heavy Work">Heavy Work</option>
            <option value="Light Work">Light Work</option>
            <option value="Learning">Learning</option>
            <option value="Cleaning">Cleaning</option>
            <option value="Investment">Investment</option>
            <option value="Spiritual">Spiritual</option>
            <option value="Health and Wellness">Health and Wellness</option>
        </select>
    </div>
    <div id="date-container">
        <label for="date">
            DUE DATE
        </label>
        <input type="date" id="date" name="taskDate">
    </div>
    <button type="submit" id="add-btn" class="btn">
        <span class="icons">
            <i class="fa-solid fa-calendar-plus"></i>
        </span>
        ADD TASK
    </button>
</form>

<button type="submit" id="edit-btn" class="btn">
    <span class="icons">
        <i class="fa-solid fa-pen-clip"></i>
    </span>
    EDIT TASK
</button>
<button action="/delete-task" type="submit" id="delete-btn" class="btn">
    <span class="icons">
        <i class="fa-solid fa-trash-can"></i>
    </span> 
    DELETE TASK(S)
</button>
<div id="taskListDisplay">
    <ul id="todolist">
        <% for(let i of task_list){ %> 
            <li>
                <input type="checkbox">
                <%= i.taskName %> 
                <%= i.taskCategory %>
                <span class="grey-icons">
                    <i class="fa-solid fa-calendar-days"></i>
                </span>
                <% if( i.taskDate == null) { %>
                    NO DEADLINE
                <% } else{ %> 
                    <%= i.taskDate %>
                <% } %> 
            </li>
        <% } %>
    </ul>
</div>